@model achievement.Models.Achievement

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Achievement</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Acheivement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Acheivement)
        </dd>
        @if(@Model.URL!=null){
        <dt>
            @Html.DisplayNameFor(model => model.URL)
        </dt>

        <dd>
            <iframe width="560" height="315" src="@Model.URL.ToString()" frameborder="0" allowfullscreen></iframe>
        
           
        </dd>
        }

        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Createdby)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Createdby)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")|
    @Html.ActionLink("Delete", "Delete", new { id = Model.ID }) |

</p>
